.header{
    color: black;
    width: 100%;
    position: fixed;        
    background: peachpuff;
    padding: 5px 0;
    top: 0;
    left: 0;
    position: sticky;
}

.row {
    display: flex;
    align-items: center;
}

.row:not(:last-child) {
    border-bottom: coral 1px solid;
}

.main-row {
    display: flex;
    align-items: top;
}
  
.column {
    flex: 50%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 48px;
    color: #333;
}

select {
    margin-top: 50px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

button {
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: peachpuff;
    color: coral;
    border: 2px solid coral;
}

button:disabled {
  background-color: lightgray;
  border: none;
  color: white;
}

.button {
    width: 150px;
}

.align-right {
    float: right;
    margin: auto;
}
.progress {
    height: 20px;
    width: 1300px;
    background-color: peachpuff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 100px;
}
  
.progress-bar {
    height: 100%;
    background-color: coral;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
}

body {
    background-color: #FFE4D0;
  }
  h1 {
    color: coral;
    text-align: center;
  }
  form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid coral;
    border-radius: 10px;
    background-color: white;
  }
  .activity-list {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid coral;
    border-radius: 10px;
    background-color: white;
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: coral;
    font-size: 18px;
  }
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid coral;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: peachpuff;
    color: coral;
    border: 2px solid coral;
  }
