{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{ name }}'s Dashboard</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
       	
    </head>
	<body>
        <div class="header">
            <h1><strong>{{ name }}'s Dashboard</strong></h1>
        </div>
        <div>
            <h1><u>Current Activity</u></h1>
            <h2>Activity Name</h2>
            <h3>50 / 100 Day's Completed</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-volumemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <h1><u>Activity Menu</u></h1>
        <div class="row">
            <div class="column">
                <h2>Activities</h2>
                <table style="width: 100%;">
                    <td class="row">
                        <p style="display: inline-block; text-align: left;" class="column"><strong>Activity: </strong><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis blandit turpis, vitae euismod ipsum venenatis sed. Donec fringilla massa eu nulla lobortis dapibus. Nullam eget lorem orci. Curabitur iaculis risus pellentesque orci tristique posuere. Vivamus sit amet eros eleifend, rhoncus nulla at, porta dui.
                        </p>
                        <button class="align-right; column; button">
                            Begin
                        </button>
                    </td>
                </table>
            </div>
            <div class="column">
                <h2>Suggest an Activity</h2>
                <textarea>
                    Add stuff here
                </textarea>
            </div>
        </div>
        <script src="{% static 'dashboard.js' %}"></script>
	</body>
</html>