{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{ name }}'s Dashboard</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
	<body>
        <div class="header">
            <h1><strong>{{ name }}'s Dashboard</strong></h1>
        </div>
        <div>
            <h1><u>Current Activity</u></h1>
            {% if currentActivity %}
                <h2>{{ currentActivity.title }}</h2>
                <h3>{{ daysCompleted }} / {{ currentActivity.days }} Day's Completed</h3>
                <div class="progress">
                    <div class="progress-bar" data-percentage="{{percentage}}" id="my-progress-bar">
                    </div>
                </div>
            {% else %}
                <h2>Begin an activity to see it here</h2>
            {% endif %}
            {% if daysCompleted >= currentActivity.days %}
            <h2>You finished the activity!</h2>
            {% endif %}
        </div>
        <h1><u>Activity Menu</u></h1>
        <div class="main-row">
            <div class="column">
                <h2>Activities</h2>
                <table style="width: 100%;" class="activity-list">
                    {% for activity, status in allActivities %}
                    {% block activity %}
                    <form action="/downtimeTracker/begin_activity" method="post">
                        {% csrf_token %}
                        <td class="row">
                            <p style="display: inline-block; text-align: left;" class="column"><strong>{{ activity.title }}</strong><br>{{ activity.description }}</p>
                            <input type='hidden' name="title" value="{{activity.title}}"></input>
                            <input type='hidden' name="name" value="{{name}}"></input>
                            <input type="submit" value="Begin" class="align-right; column; button" {{ status|yesno:'disabled,,'}}>
                                <strong></strong>
                            </input>
                        </td>
                    </form>
                    {% endblock %}
                    {% endfor %}
                </table>
            </div>
            <div class="column">
                <h2>Suggest an Activity</h2>
                {% block content %}
                    <form method="POST">
                        {% csrf_token %}
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required><br><br>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" required></textarea><br><br>
                        <label for="days">Number of Days:</label>
                        <input type="number" id="days" name="days" min="1" max="365" required><br><br>
                        <input class='button' type="submit" value="Create Post">
                    </form>
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'dashboard.js' %}">
        </script>
	</body>
</html>