{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{ name }}'s Dashboard</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
	<body>
        <div class="header">
            <h1><strong>{{ name }}'s Dashboard</strong></h1>
        </div>
        <div>
            <h1><u>Current Activity</u></h1>
            {% if currentActivity %}
                <h2>{{ currentActivity.title }}</h2>
                <h3>{{ currentActivity.days_completed }} / {{ currentActivity.days }} Day's Completed</h3>
                <div class="progress">
                    <div class="progress-bar" id="my-progress-bar">
                    </div>
                </div>
            {% else %}
                <h2>Begin an activity to see it here</h2>
            {% endif %}
        </div>
        <h1><u>Activity Menu</u></h1>
        <div class="row">
            <div class="column">
                <h2>Activities</h2>
                <table style="width: 100%;">
                    {% for activity in allActivities %}
                    <td class="row">
                        <p style="display: inline-block; text-align: left;" class="column"><strong>{{ activity.title }}</strong><br>{{ activity.description }}</p>
                        <button class="align-right; column; button">
                            <strong>Begin</strong>
                        </button>
                    </td>
                    {% endfor %}
                </table>
            </div>
            <div class="column">
                <h2>Suggest an Activity</h2>
                <textarea>
                    Add stuff here
                </textarea>
            </div>
        </div>
        <script src="{% static 'dashboard.js' %}"></script>
        <script type="text/javascript">
            var percentage = "{{ percentage }}";
            var progressBar = document.getElementById("my-progress-bar");
            progressBar.style.width = percentage + '%';
        </script>
	</body>
</html>