{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome!</h1>
    <form method="post">
        {% csrf_token %}
        <select name="name">
            <option value="" selected hidden>Please choose your name</option>
            {% for name in names  %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <button class='button' type="submit">Submit</button>
    </form>
</body>
</html>